<!DOCTYPE html>
<html>
<head>
     <title>Class List</title>
     <meta charset="utf-8" />
     <script src="/cdn/scripts/class/index.js"></script> <!-- Our JavaScript code for this page-->
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
     <link rel="stylesheet" href="/cdn/css/index.css">
</head>
<body>
    <h1 class="header">Students in the School of EIE:</h1>
    <ol id="classList">
        <!-- The list of students in the school-->
    </ol>
    <hr class="horizontal">
    Add a new student:
    <input type="text" id="newStudentInput">
    <button class="btn btn-primary" type="submit" id="addsStudentButton">Add</button>
</body>
</html>
